<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/app.css">

    <title>Imdb Ratings</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5829141496303429"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1>the Ratings of the movie is <%=re.rating%> </h1>
    <p>the rating is:<%=re.rated%></p>
    <p>the genres is:<%=re.genres%></p>
    <p>the director are:<%=re.director%></p>
    <p>the actors are:<%=re.actors%></p>
    <p>the plot is:<%=re.plot%></p>
    <img src=<%re.poster%> alt="">
    <p>the runtime is:<%=re.runtime%></p>

    <!-- <img src="https://images.unsplash.com/photo-1568038579207-c72e35ae79a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAwfHxtb3ZpZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""> -->
</body>
</html>