<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/app.css">

    <title>Imdb Ratings</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5829141496303429"
     crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="head">The IMDB-Ratings is <%=re.rating%> </h1>
    <h2>Rating</h2>

    <p class="head"><%=re.rated%></p>
    <h2>Genres</h2>

    <p  class="head"><%=re.genres%></p>
    <h2>Directors</h2>

    <p  class="head"><%=re.director%></p>

    <h2>Actors</h2>

    <p class="head"><%=re.actors%></p>

    <h2>Plot</h2>
  
  
    <p  class="head"><%=re.plot%></p>

    <h2>Runtime </h2>
  
    <p  class="head"><%=re.runtime%></p>

    <!-- <img src="https://images.unsplash.com/photo-1568038579207-c72e35ae79a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAwfHxtb3ZpZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""> -->
</body>
</html>